<nav id="nav" class="nav">
  <div class="nav-title vertical">
    <a href="{{ site.url }}"><img class="nav-logo" src="/images/logo.svg" alt="{{ site.name }}"/></a>
  </div>
  <div class="nav-items">
    <ul>
      {% assign navigation_pages = site.pages | sort: 'menu_position'%}
      {% for page in navigation_pages %}
        {% if page.menu == "true" %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" class="nav-button" id="navButton">
      <span class="burger-icon"></span>
    </a>
  </div>
</nav>
<nav class="mobile-nav">
  <div class="mobile-nav-items vertical">
    <ul>
      {% assign navigation_pages = site.pages | sort: 'menu_position'%}
      {% for page in navigation_pages %}
        {% if page.menu == "true" %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
